<!-- Capitulo 7.1.2 -->

<!-- 7.1.4 - Ayudante "para_gravatar" -->
<!-- CSS de aside definido en estilos.scss / sidebar -->
<% provide(:titulo, @usuario.nombre) %>
<div class="row">

  <!-- Datos de usuario -->
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      	<!-- 
      		amplitud: especifica el tamaño de la imagen del usuario,
      		por defecto 80, desde usuarios_helper.rb
      	-->
        <%= para_gravatar(@usuario) %>
        <%= @usuario.nombre %>
      </h1>
    </section>
  </aside>
  <!-- Fin de datos de usuario -->

  <!-- Cap 13.2.1 - Publicaciones de usuario -->
  <div class="col-md-8">
    <% if @usuario.publicaciones.any? %>
      <h3>Publicaciones (<%= @usuario.publicaciones.count %>)</h3>
      <ol class="publicaciones">
        <%= render @publicaciones %>
      </ol>
      <%= will_paginate @publicaciones %>
    <% end %>
  </div>
  <!-- Fin de Publicaciones de usuario -->

</div>

<!-- Inicio 

<h1>Página de usuario</h1>
<%= @usuario.nombre %>, <%= @usuario.email %>
<br>
<%= @usuario.created_at %>, <%= @usuario.updated_at %>

<%# p @usuario %>
<br>
El momento es <%# Time.now %>
-->