<% provide(:titulo, 'Restablecer contraseña') %>
<h1>Restablecer contraseña</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario, url: reseteo_password_path(params[:id])) do |f| %>
      <%= render 'compartido/mensajes_de_error', objeto: f.object %>

      <!-- crea el campo oculto para enviar email como params[:email -->
      <%= hidden_field_tag :email, @usuario.email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Actualizar contraseña", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
