<!-- Parcial de application.html.erb -->

<!-- Header - Cabecera -->
<!-- Etiquetas CSS class de Bootstrap -->
<header class="navbar navbar-fixed-top navbar-inverse">

  <!-- Contenedor de cabecera -->
  <div class="container">

    <!-- Logo -->
    <%= link_to image_tag("Yog-Sothoth.jpg", alt: "Logo de aquí", size: "50x50"), root_path, id: "logo" %>
    <%# el hover viene por container de bootstrap %>
    
    <%# link_to "Tutorial Rails", root_path, id: "logo" %>
    <!-- Fin Logo -->

    <!-- Navegacion -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- Gracias a metodo de SP -->
        <li><%= enlace_a "Inicio", root_path %></li>
        <li><%= link_to "Ayuda", ayuda_path %></li>

        <!-- Capitulo 8.2.3 - Links visibles a usuarias -->
        <% if ha_accedido? %>
          <li><%= link_to "Usuarios", "#" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cuenta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= enlace_a "Perfil", usuario_actual %></li>
              <li><%= link_to "Configuración", "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Cerrar sesion", cerrar_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Acceder", acceder_path %></li>
      
          <!-- Capitulo 5.4 - Registro de usuaria -->
          <!-- En 8.2.3 este enlace desaparece. Aqui no -->
          <li><%= link_to "Registrarse", registro_path %></li>
      
        <% end %>
        <!-- Fin 8.2.3 -->

      </ul>
    </nav>
    <!-- Fin de navegacion -->

  </div>
  <!-- Fin de Contenedor de cabecera -->
</header>
<!-- Fin de Cabecera -->