<!DOCTYPE html>
<html>
  <head>

  	<title><%= titulo_completo(yield(:titulo)) %></title>

    <!-- Anulado para utilizar el ayudante titulo_completo,
    	desde app/helpers/application_helper.rb
    <title><%# yield(:titulo) %> | Tutorial Rails</title>
    -->

    <!-- Capitulo 5.1.4 Parciales
      Codigo del render en app/views/layouts/*.html.erb
      Notese el guion bajo del nombre de los archivos parciales.
      -->

    <!-- Parcial de las meta tags de Rails -->
    <%= render 'layouts/rails_defaults' %>

    <!-- Parcial del HTML5 shim. Mas info, en el archivo -->
    <%= render 'layouts/shim' %>

  </head>

  <body>

    <!-- Capitulo 5 -->

    <!-- Header - Cabecera -->
    <%= render 'layouts/cabecera' %>
    <!-- Fin de Cabecera -->

    <!-- Contenedor -->
    <div class="container">
    
      <!-- Capitulo 7.4.2 Flash -->
      <% flash.each do |tipo_de_flash, mensaje| %>
        <!-- Uso de content_tag -->
        <%= content_tag( :div, mensaje, class: "alert alert-#{tipo_de_flash}" ) %>
        <!--
        <div class="alert alert-<%= tipo_de_flash %>"><%= mensaje %></div>
        -->
      <% end %>

      <%= yield %>

      <!-- Footer - Pie de página -->
      <%= render 'layouts/pie_pagina' %>
      <!-- Fin de Pie de página -->

      <!-- Capitulo 7 - Debug info -->
      <!-- 
        Metodo debug muestra la info
        Metodo env.development? restringe el metodo al entorno
        development, para que los usuarios no lo vean en produccion.
      -->
      <%= debug(params) if Rails.env.development? %>
    
    </div>
    <!-- Fin de contenedor -->

  </body>
</html>
